{{ tuxedo_logs_path }}/*/*.log {{ informix_logs_path }}/*/*.log {{ informix_logs_path }}/*/*.con {
  daily
  copytruncate
  compress
  maxage 7
  maxsize 1G
  missingok
  notifempty
  olddir {{ tuxedo_logs_path }}/old
  rotate 20
  createolddir 0755 root root
}

{{ tuxedo_logs_path }}/*/ULOG.* {
  daily
  copytruncate
  compress
  maxsize 1800M
  missingok
  notifempty
  olddir {{ tuxedo_logs_path }}/old
  rotate 20
  createolddir 0755 root root
  lastaction
    /bin/find {{ tuxedo_logs_path }} -name 'ULOG*.gz' -mtime +93 -exec rm -f {} \;
    /bin/find {{ tuxedo_logs_path }} -maxdepth 2 -name 'ULOG.*' -not -name "ULOG.$(date +%m%d%y)" -size 0 -delete
  endscript
}

{{ ais_logs_path }}/debug/*import_output {
  daily
  copytruncate
  compress
  notifempty
  olddir {{ ais_logs_path }}/archive
  createolddir 0755 root root
  rotate 31
  lastaction
    /bin/find {{ ais_logs_path }}/archive -name '*import_output*.gz' -mtime +31 -exec rm -f {} \;
    /bin/find {{ ais_logs_path }}/debug -maxdepth 1 -name '*import_output' -mtime +1 -size 0 -delete
  endscript
}

{{ ais_logs_path }}/audlog
{{ ais_logs_path }}/audlog.report
{{ ais_logs_path }}/debug/BSSlog
{{ ais_logs_path }}/errlog
{{ ais_logs_path }}/ExportLog.*
{{ ais_logs_path }}/output_debug_*
{{ ais_logs_path }}/route400/*.log
{{ ais_logs_path }}/syslog
{{ ais_logs_path }}/testing/doc_retrieval
{{ ais_logs_path }}/testing/file_ret_client
{{ ais_logs_path }}/testing/notify
{{ ais_logs_path }}/trace_debug_message
{
  daily
  copytruncate
  compress
  notifempty
  olddir /ais/logs/archive
  createolddir 0755 root root
  rotate 31
}
