{{ ais_logs_path }}/audlog
{{ ais_logs_path }}/audlog.report
{{ ais_logs_path }}/debug/*import_output
{{ ais_logs_path }}/debug/BSSlog
{{ ais_logs_path }}/errlog
{{ ais_logs_path }}/ExportLog.*
{{ ais_logs_path }}/output_debug_*
{{ ais_logs_path }}/route400/*.log
{{ ais_logs_path }}/syslog
{{ ais_logs_path }}/testing/doc_retrieval
{{ ais_logs_path }}/testing/file_ret_client
{{ ais_logs_path }}/testing/notify
{{ ais_logs_path }}/trace_debug_message
{
  daily
  copytruncate
  compress
  notifempty
  olddir {{ ais_logs_path }}/archive
  createolddir 0755 root root
  rotate 31

  lastaction
    /bin/find {{ ais_logs_path }}/archive -name '*import_output' -mtime +31 -exec rm -f {} \;
    /bin/find {{ ais_logs_path }}/debug -maxdepth 1 -name '*import_output' -size 0 -delete
  endscript
}
